biopython==1.70
botocore==0.29.0
ete3==3.0.0b35
matplotlib==2.1.0
numpy==1.13.3
pandas==0.20.3
seaborn==0.9.0
six==1.11.0
virtualenv==15.1.0
tensorflow==1.12.0
tensorflow_probability==0.5.0
setuptools==31.0.0
scipy==0.19.1
sklearn
