LibAppArmor==2.8.95
Pillow==2.3.0
Pygments==1.6
apparmor==2.8.95
## FIXME: could not find svn URL in dependency_links for this package:
apsw==3.8.2-r1
bcdoc==0.12.0
biopython==1.70
botocore==0.29.0
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
cycler==0.10.0
defer==1.0.6
defusedxml==0.4.1
docutils==0.11
dugong==3.5
ete3==3.0.0b35
flake8==3.5.0
html5lib==0.999
jmespath==0.2.1
language-selector==0.1
llfuse==1.0
matplotlib==2.1.0
mccabe==0.6.1
numpy==1.13.1
pandas==0.20.3
ply==3.4
pycodestyle==2.3.1
pycrypto==2.6.1
pycurl==7.19.3
pyflakes==1.6.0
pygobject==3.12.0
pyparsing==2.2.0
python-apt==0.9.3.5ubuntu1
python-dateutil==2.0
python-debian==0.1.21-nmu2ubuntu2
pytz==2017.2
requests==2.2.1
roman==2.0.0
rsa==3.1.2
scipy==0.19.1
seaborn==0.8.1
six==1.11.0
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
virtualenv==15.1.0
wheel==0.24.0
yapf==0.19.0
